@import './variables';

@mixin background-content-style {
  background: $color-white;
  width: 80%;
  margin: 0 auto 2px * $uiPoint;
  padding: 8px * $uiPoint;
  border-radius: 1px * $uiPoint;
  box-shadow: $background-content-shadow;
}

@mixin d-flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin d-flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin d-flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin d-flex-center {
  display: flex;
  align-items: center;
}