@import './commonStyles/variables';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-main;
  font-size: $font-size-normal;
  line-height: $uiPoint - 3.5rem;
  color: $color-hard-grey;
}

li {
  list-style: none;
}

::placeholder {
  color: #ABADA9;
}