@import '../commonStyles/variables';

.header__texts {
  text-align: center;

  & h1 {
    font-size: $font-size-biggest;
    margin-bottom: 2px * $uiPoint;
  }

  & h2 {
    font-size: $font-size-big;
    font-weight: $font-weight-normal;
    margin-bottom: 4px * $uiPoint;
  }
}