@import '../commonStyles/variables';

.input {
  font-family: $font-family-main;
  width: 100%;
  height: 7px * $uiPoint;
  border: 1px solid $color-normal-grey;
  border-left: none;
  outline: none;
  border-radius: 0 (1px * $uiPoint) (1px * $uiPoint) 0;
  padding-left: 1px * $uiPoint;
  color: $color-hard-grey;
  cursor: text;

  &:focus {
    border: 1px solid $color-orange;
    border-left: none;
  }
}

.label {
  padding-left: 2px * $uiPoint;
}