@import '../commonStyles/variables';
@import '../commonStyles/mixins';

.modal__backdrop {
  @include d-flex-center-center;
  background: $modal-background-color;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.modal {
  background: #fff;
  width: $modal-width;
  padding: (6px * $uiPoint) 0 (10px * $uiPoint);
  border-radius: 1px * $uiPoint;
  position: relative;
}

.modal__close_btn {
  position: absolute;
  top: 2px * $uiPoint;
  right: 2px * $uiPoint;
}

.modal__title {
  display: flex;
  padding: (6px * $uiPoint) (8px * $uiPoint) 0;

  & h3 {
    font-size: $font-size-big;
  }

  & p {
    font-size: $font-size-big;
  }
}

.modal__description {
  @include d-flex-center;
  padding: (4px * $uiPoint) (8px * $uiPoint);

  & span {
    font-weight: $font-weight-normal;
  }

  & p {
    margin-left: 1px * $uiPoint;
  }
}

.modal__example {
  padding: 0 (8px * $uiPoint);

  & p {
    font-weight: $font-weight-normal;
  }
}

.modal__list {
  & li {
    margin-top: 2px * $uiPoint;
  }
}