@import '../commonStyles/variables';

.options__button {
  background: $grey-color;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
}