@import '../commonStyles/variables';

.radio__input {
  cursor: pointer;

  & input {
    display: none;
  }

  & .radio__button {
    display: inline-block;
    width: $radio-button-width;
    height: $radio-button-height;
    border: 1px solid $color-orange;
    border-radius: 50%;
    position: relative;
    top: (1px * $uiPoint) - 2;
  }

  & .radio__button::before {
    content: '';
    position: absolute;
    display: block;
    opacity: 0;
    border-radius: 50%;
    left: (1px * $uiPoint) - 2;
    top: (1px * $uiPoint) - 2;
    width: $radio-button-before-width;
    height: $radio-button-before-height;
    background: $color-orange;
  }

  & input:checked + .radio__button::before {
    opacity: 1;
  }

  & .radio__button_text {
    padding-left: 1px * $uiPoint;
    user-select: none;
  }
}