@import '../commonStyles/variables';

.radio__input {
  cursor: pointer;

  & input {
    display: none;
  }

  & .radio__button {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid $orange-color;
    border-radius: 50%;
    position: relative;
    top: 3px;
  }

  & .radio__button::before {
    content: '';
    position: absolute;
    display: block;
    opacity: 0;
    border-radius: 50%;
    left: 3px;
    top: 3px;
    width: 9px;
    height: 9px;
    background: $orange-color;
  }

  & input:checked + .radio__button::before {
    opacity: 1;
  }

  & .radio__button_text {
    padding-left: 5px;
    user-select: none;
  }
}