@import '../commonStyles/variables';

.select {
  font-family: $font-family-main;
  width: $select-width;
  height: $select-height;
  background: $color-orange;
  border: none;
  font-size: $font-size-normal;
  padding-left: 1px * $uiPoint;
  color: $color-white;
  outline: none;
  border-radius: (1px * $uiPoint) 0 0 (1px * $uiPoint);
  cursor: pointer;
}