@import '../commonStyles/mixins';
@import '../commonStyles/variables';

.utm__result_block {
  @include background-content-style;
  position: relative;

  & h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
  }

  & > div {
    @include d-flex-center;
  }

  & span {
    color: $grey-color;
    font-size: 12px;
    position: absolute;
    left: 43px;
    bottom: 15px;
  }
}

.utm__result_copy {
  text-align: center;

  & p {
    background: $orange-color;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    width: 150px;
    padding: 6px 0 7px;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}